[submodule "frontend"]
	path = frontend
	url = git@github.com:jtarriela/cortex-os-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:jtarriela/cortex-os-backend.git
[submodule "contracts"]
	path = contracts
	url = git@github.com:jtarriela/cortex-os-contracts.git
